*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh ;
}

.heart-item{
  position: fixed;
  top: -1vh;
  font-size: 2rem;
  transform: translateY(0);
  animation: fall 3s linear forwards;
}

@keyframes fall{
  to{
    transform: translateY(105vh);
  }
}