/* Google Fonts Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.carousel{
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 500px;
  height: 500px;
}

.image-container{
  display: flex;
  transition: transform 0.3s linear;
  transform: translateX(0);
}

img{
  object-fit: cover;
  width: 500px;
  height: 500px;
}